@model ExpenseTracker.Web.ViewModels.Budget.BudgetViewModel

@{
    ViewData["Title"] = "Budget";
    Layout = "_Layout";
}

@section PageTitle
{
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Create
                </div>
                <h2 class="page-title">
                    @ViewData["Title"]
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a asp-action="Index" asp-controller="Budget" class="btn btn-default d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
                        </svg>
                        Cancel
                    </a>
                    <a asp-action="Index" asp-controller="Budget" class="btn btn-default d-sm-none d-sm-inline-block btn-icon" aria-label="Create new Transaction Category">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <form method="post" asp-action="SetBudget" asp-controller="Budget">
                <div class="form-group mb-3 row">
                    @Html.LabelFor(a => a.FromDate, new { @class = "form-label col-3 col-form-label" })
                    <div class="col">
                        <input asp-for="FromDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" autofocus/>
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    @Html.LabelFor(a => a.ToDate, new { @class = "form-label col-3 col-form-label" })
                    <div class="col">
                        <input asp-for="ToDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"/>
                    </div>
                </div>
                
                <div class="form-group mb-3 row">
                    @Html.LabelFor(a => a.Amount, new { @class = "form-label col-3 col-form-label" })
                    <div class="col input-group">
                        <span class="input-group-text">
                            Rs.
                        </span>
                        <input type="number" asp-for="Amount" placeholder="Enter Transaction Amount" class="form-control">
                    </div>
                </div>

                <div class="form-group mb-3 row">
                    @Html.LabelFor(a => a.Description, new { @class = "form-label col-3 col-form-label" })
                    <div class="col">
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Set Budget</button>
                </div>
            </form>
        </div>
    </div>
</div>