@using ExpenseTracker.Core.Entities.Common
@using ExpenseTracker.Core.Constants
@model ExpenseTracker.Web.ViewModels.Report.ReportViewModel
@{
    ViewData["Title"] = "Monthly Report";
    Layout = "_Layout";
}

@section PageTitle
{
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Report
                </div>
                <h2 class="page-title">
                    @ViewData["Title"]
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                               <form asp-action="Monthly" asp-controller="Report" class="form-inline">
                                   <div class="form-group mb-3">
                                       <label class="form-label">Transaction Date</label>
                                       <div class="input-group">
                                           <input type="Date" asp-for="FromDate"  class="form-control col-6" value="@Model.FromDate.Value.ToString("yyyy-MM-dd")">
                                           <input type="Date" asp-for="ToDate"  class="form-control col-6" value="@Model.ToDate.Value.ToString("yyyy-MM-dd")">
                                           <button type="submit" class="btn btn-primary d-none d-sm-inline-block">
                                              	<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5" /></svg>
                                               Filter
                                           </button>
                                       </div>
                                   </div>
                               </form>
            </div>
        </div>
    </div>
}

 <div class="col-lg-12">
 <div class="row row-cards">
     <div class="col-12">
         <div class="card">
             <div class="table-responsive">
                 @if (Model.MonthlyTransactions.Any())
                 {
                     <table class="table card-table table-vcenter text-nowrap">

                         <thead>
                         <tr>
                             <th class="w-2">TXN No.</th>
                             <th>Transaction Amount</th>
                             <th>Transaction Date</th>
                             <th>Catgeory</th>
                             <th>Type</th>
                         </tr>
                         </thead>
                         <tbody>


                         @foreach (var item in Model.MonthlyTransactions)
                         {
                             <tr>
                                 <td>
                                     <span class="text-muted">@item.Id.ToString("D5")</span>
                                 </td>
                                 <td>
                                     <strong>
                                         @if (item.Type == TransactionType.Income)
                                         {
                                             <span class="text-success">
                                                 @item.Amount
                                             </span>
                                         }
                                         else if (item.Type == TransactionType.Expense)
                                         {
                                             <span class="text-danger">
                                                 @item.Amount
                                             </span>
                                         }
                                     </strong>
                                 </td>
                                 <td>
                                     @item.TransactionDate.ToString("f")
                                 </td>
                                 <td>
                                     @Html.Raw(CategoryIcon.Icons[item.TransactionCategory.Icon]) @item.TransactionCategory.CategoryName
                                 </td>
                                 <td>
                                     <span class="me-1">
                                         @if (item.Type == TransactionType.Income)
                                         {
                                             <span class="text-success">
                                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                     <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19"/><line x1="18" y1="11" x2="12" y2="5"/><line x1="6" y1="11" x2="12" y2="5"/>
                                                 </svg>
                                             </span>
                                         }
                                         else if (item.Type == TransactionType.Expense)
                                         {
                                             <span class="text-danger">
                                                 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                     <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19"/><line x1="18" y1="13" x2="12" y2="19"/><line x1="6" y1="13" x2="12" y2="19"/>
                                                 </svg>
                                             </span>
                                         }
                                     </span> @item.Type
                                 </td>
                             </tr>
                         }

                         </tbody>
                     </table>
                 }
                 else
                 {
                     <div class="empty">
                         <div class="empty-img">
                             <img src="./static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
                         </div>
                         <p class="empty-title">Transactions Not Found.</p>
                         <p class="empty-subtitle text-muted">
                             Try adjusting your search or filter to find what you're looking for.
                         </p>
                         <div class="empty-action">
                         </div>
                     </div>
                 }
             </div>
         </div>
     </div>
 </div>
 </div>